body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #DFF2D8;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.logo {
    max-width: 150px;
}

nav {
    background: #eee;
    padding: 0.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: "Poppins";
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    position: relative;
    transition: color 0.3 ease;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    background: #6b8e23;
    transition: width 0.3s;
    bottom: -5px;
    left: 0;
}

nav ul li a:hover {
    color: #6b8e23;
}

nav ul li a:hover::after {
    width: 100%;
}

.banner {
    background: url('banner.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 2rem 0;
}

.banner h1 {
    margin: 0;
    font-size: 2rem;
    color: #388659;
    font-family: "Open Sans";
}

main {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    background: #f9f9f9;
}

.column {
    flex: 1;
    margin: 0 1rem;
    text-align: center;
}

.column img {
    width: 100%;
    max-width: 350px;
    height: 250px;
    object-fit: cover;
}

.column h2 {
    color: #70A37F;
    font-family: "Open Sans";
}

.column p {
    text-align: left;
    padding: 0 1rem;
    font-size: 1rem;
    line-height: 1.8;
    color: #555;
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 1.5rem;
}

.cta-button {
    background-color: #6b8e23;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 1rem;
    text-decoration: none;
}

.cta-button:hover {
    background-color: #5a7b1e;
    transform: translateY(-2px);
}



footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: #333;
    color: white;
}

.footer-left {
    display: flex;
    align-items: center;
}

.footer-left .logo-small {
    width: 30px;  /* Set the desired width */
    height: auto;  /* Maintain aspect ratio */
}

.footer-right {
    display: flex;
    align-items: center;
}
